*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e2a;
    color: white;
    font-family: sans-serif;
}

.container{
    /* background-color: aqua; */
    width: 80%;
    margin: 40px auto;
}

.card-title{
    background-color: #2d2e37;
    padding: 12px 10px;
    font-size: 19px;
    margin-bottom: 30px;
}

.card{
    width: 22%;
    position: relative;
    /* background-color: maroon; */
}

.image img{
    min-height: 420px;
    width: 100%;
    object-fit: cover;
}

.card-bottom{
    position: absolute;
    bottom: 0;
    padding: 10px;
}
.cards-row{
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 20px;

}
.genre{
    font-size18: 600px;
    font-weight: 600px;
    margin-top: 10px;
}
.card-footer{
    display: flex;
    justify-content: space-between;
}
.btn{
    background: yellow;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}