*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* Navigation bar */
.nav-bar{
    background-color: #000036;
    padding: 15px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.logo{
    height: 80px;
    width: 80px;
}

.logo img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li{
    padding: 15px;
}