@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    position: relative;
}

/* Navigation bar */
.nav-bar{
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.logo{
    height: 80px;
    width: 80px;
}

.logo img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li{
    padding: 15px;
}

.nav-links li a{
    color: #efefef;
    font-size: 20px;
    font-weight: 600;   
    transition: all .3s ease-in-out;
}

.nav-links .home a{
    color: #d52000;
}

.nav-links li a:hover{
    color: #d52000;
}

/* Banner */
.banner{
    position: relative;
    z-index: -1;
}

.banner-img{
    height: 100vh;
    width: 100%;
}

.banner-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.banner-paragraph{
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-family: 'Satisfy', cursive;
}

.banner-heading{
    color: #fff;
    font-size: 80px;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.banner-btn{
    padding: 35px 50px;
    color: #fff;
    background-color: #d52000;
    border: none;
    font-size: 25px;
    position: relative;
    left: 40%;
}

/* MAIN */
.main{
    padding: 80px;
}









































